<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">MyFriends~APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li routerLinkActive="active current">
        <a routerLink="/" class="nav-link">Home <span class="sr-only">(current)</span> </a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link">Contact Me</a>
      </li>
    </ul>
  </div>
</nav>
