form {
  margin-top: 3%;
  float: left;
  margin-left: 35%;
  width: 550px;
  height: 500px;
  margin-bottom: 0px;
}

.output {
  margin-top: -50px;
  float: left;
  margin-left: 40%;
}

li {
  list-style-type: none;
}
